<div id="register" class="card justify-content-center align-items-center">

    <form #signUpForm ="ngForm" (ngSubmit)="onSubmit(signUpForm)">

        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> </h1>
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign Up</h1>

            <div class="social-login form-group form">
                <button class="btn facebook-btn social-btn btn-block" type="button"><span><i class="fa fa-facebook-f"></i> Sign In with Facebook</span> </button>
            </div>
            <div class="social-login form-group">
                <button class="btn google-btn social-btn btn-block" type="button"><span><i class="fa fa-google-plus" aria-hidden="true"></i> Sign In with Google+</span> </button>
            </div>

            <p style="text-align:center"> OR  </p>

        <div class="form-group">
            <input name="fullname" id="fullname" placeholder="Fullname" type="text"  class="form-control" required ngModel autofocus/>
        </div>
        <div class="form-group">
            <input name="email" id="email" placeholder="Email" type="text"  class="form-control" required ngModel autofocus/>
        </div>
        <div class="form-group">
            <input name="password" id="password" placeholder="Password" type="password"  class="form-control" required ngModel #password="ngModel" minlength="6" autofocus/>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be at least 6 characters long.
            </small>
        </div>
        <div class="form-group">
            <input name="password2" id="password2" placeholder="Repeat Password" type="password"  class="form-control" required ngModel #password2="ngModel" minlength="6" 
            autofocus aria-describedby="passwordHelpBlock" ngValidateEqual="password"/>
        </div>

        <div *ngIf="(password2.dirty || password2.touched) && password2.invalid">
            <small class="warning-text" *ngIf="password2.hasError('notEqual') && password.valid">
              Passwords Don't Match
            </small>
        </div>

        <div class="form-group">
            <button  class="btn btn-primary btn-block" type="submit" [disabled]= "!signUpForm.valid">
                Sign Up <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
        </div>

    </form>

</div>
