<section>
    
    <div id="demo" class="carousel slide " data-ride="carousel" >
    
    <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
             <img src="assets/images/VauxhallCorsa@1.5x.png" alt="....." width="1100" height="500">
        </div>
    </div>
    
  </div>

</section>

<section class="search-sec">

    <div class="container">
        <form novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Brand</option>
                                <option>BMW</option>
                                <option>Mercedes Benz</option>
                                <option>VW</option>
                                <option>Mazda</option>
                                <option>Opel</option>
                                <option>Audi</option>
                                <option>Toyaota</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Location</option>
                                <option>Accra</option>
                                <option>Kumasi</option>
                                <option>Tema</option>
                                <option>Sunyani</option>
                                <option>Tamali</option>
                                <option>Takoradi</option>
                                <option>Cape Coast</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section>
  <div class="card-deck">

    <div *ngFor="let image of images">

      <div class="card">

        <img class="card-img-top" src="" alt="Card image cap" style="width:195px;height:180px;">

          <div class="card-body" href="#">

            <h5 class="card-title">Card title</h5>

            <a class="card-text card-link" href="#">This is a wider card with </a>

          </div>

          <div class="card-footer">

            <small class="text-muted">Last updated 3 mins ago</small>

          </div>
          
      </div>

    </div>

  </div>
</section>