<div id="reset" class="card justify-content-center align-items-center">

    <form #resetForm ="ngForm" (ngSubmit)="onSubmit(resetForm)">

        <div class="form-group">
            <input name="email" id="email" placeholder="Email" type="text"  class="form-control" required ngModel autofocus/>
        </div>

        <div class="form-group">
            <button  class="btn btn-primary btn-block" type="submit" [disabled]= "!resetForm.valid">
                Reset 
            </button>
        </div>

    </form>

</div>
