
<div id="signInForm" class="card justify-content-center align-items-center">

        <form #loginForm ="ngForm" (ngSubmit)="onSubmit(loginForm)">

            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>

                <div class="social-login form-group">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook-f"></i> Sign in with Facebook</span> </button>
                    <button class="btn google-btn social-btn" type="button"><span><i class="fa fa-google-plus" aria-hidden="true"></i> Sign in with Google+</span> </button>
                </div>

                <p style="text-align:center"> OR  </p>

            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" id="username" type="text"  class="form-control" ngModel required />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" id="password" type="password"  class="form-control" ngModel required minlength="6" />
            </div>

            <div class="form-group">
                <button  class="btn btn-primary btn-block" type="submit" [disabled]= "!loginForm.valid">
                    Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
            </div>
            
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input name="remember-me" type="checkbox" class="custom-control-input" id="remember-me" ngModel>
                    <label class="custom-control-label" for="remember-me">Remember me</label>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a routerLink="/signup" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a routerLink="/reset">Forgot your password?</a>
                </div>
            </div>
        </form>

</div>